:root { 
  --color-primary: #4d4000;
  --color-secondary: #4e3900;
  --color-tertiary: #1a1500;
  --background-primary: #ffeb00;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: var(--color-primary);
  background-color: var(--background-primary);
}

a { 
    color: var(--color-tertiary);
}

a:hover {
    color: #998a00;
}

img, iframe {
    max-width: 100%;
}

table {
    width: 100%;
}

/* Clases Utilitarias */

.title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: var(--color-primary);
  background-color: var(--background-primary);
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-secondary);
}

.link {
  font-size: 40px;
  font-weight: bold;
  color: var(--color-secondary);
}

.text-left {
    text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.headline {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-secondary);
}

.list {
  list-style-type: none; 
  padding: 0; 
}

.table {
  width: 100%;
  border-collapse: collapse;
}
